#quote{
    background-color: #FF7225;
}
#quote-all{
    display: grid;
    grid-template-columns: .25fr .5fr .25fr;
}

#dumbell-quote{
    display: flex;
    align-items: end;
    padding-left: 10px;
    padding-top: 50px;
    background-color: #d8520a;
}
#quote-quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#quote-quote p{
    text-align: center;
}

#scale-quote{
    display: flex;
    align-items: end;
    justify-content: end;
    background-color: #d8520a;
}

#scale-quote img{
    position: absolute;

}

@media (max-width: 991px){
    #quote-all {
        display: grid;
        grid-template-columns: .75fr .25fr;
    }
    #dumbell-quote{
        display: none;
    }
    #quote-quote p {
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
    }
    #quote-quote {
        align-items: flex-start;
        
    }

    #scale-quote img{
        width: 20vw;
    }
}

@media (max-width: 350px){
    #scale-quote img{
        width: 35vw;
    }
}